* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2b3031;
    --secondary-color: #DD7200;
    --tertiary-color: #F1EFF0;
}

/* Header/Nav Styles */
header h1 {
    color: var(--tertiary-color);;
}

nav a {
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: var(--secondary-color);
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 25px;
}

header span {
    color: var(--secondary-color);
}

header .name {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 30px;
    padding: 15px;
}


/* Body/Background-color*/
body {
    background-color: var(--primary-color);
}

.content {
    width: 90%;
    margin: 0 auto;
    padding: 25px  ;
}

img {
    float: right;
    display: flex;
    border-radius: 5%;
    width: 600px;
}

.list, .list a {
    color: var(--tertiary-color);
    list-style: none;
    text-decoration: none;
}

#social li {
    color: var(--tertiary-color);
    list-style: none;
}


/* Paragraph Style */
#text, p {
        font-size: 19px;
        color: var(--tertiary-color);
    }

h2 {
    color: var(--secondary-color);
}

@media all and (max-width: 980px) {
    img {
        width: 100%;
    }

    body {
        text-align: center;
        font-size: 19px;
    }
}